<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
    routerLink="/detail/{{hero.id}}">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Habilidades</th>
      <th scope="col">Pais</th>
      <th scope="col">Edad</th>
      <th scope="col">familia de heroes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">11</th>
      <td>Dr Nice</td>
      <td>Puede controlar el fuego y el calor</td>
      <td>Japón</td>
      <td>20</td>
      <td>DC COMICS</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Narco</td>
      <td>Puede controlar el fuego y el calor</td>
      <td>China</td>
      <td>18</td>
      <td>MARVEL</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Bombasto</td>
      <td>Puede curar a los demás con su voz</td>
      <td>Italia</td>
      <td>25</td>
      <td>MARVEL</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Celeritas</td>
      <td>Puede controlar la naturaleza</td>
      <td>México</td>
      <td>30</td>
      <td>GUARDIANES</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Magneta</td>
      <td>Puede volar y disparar rayos láser</td>
      <td>Egipto</td>
      <td>27</td>
      <td>DC COMICS</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>RubberMan</td>
      <td>Puede convertirse en cualquier animal</td>
      <td>Marruecos</td>
      <td>69</td>
      <td>MARVEL</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Dynama</td>
      <td>Puede teletransportarse a cualquier lugar</td>
      <td>Israel</td>
      <td>44</td>
      <td>GUARDIANES</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Dr IQ</td>
      <td>Puede controlar la electricidad</td>
      <td>Estados Unidos</td>
      <td>23</td>
      <td>GUARDIANES</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>Magma</td>
      <td>Puede hablar con los animales</td>
      <td>Brasil</td>
      <td>21</td>
      <td>MARVEL</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>Tornado</td>
      <td>Puede controlar el tiempo</td>
      <td>España</td>
      <td>90</td>
      <td>MARVEL</td>
    </tr>
  </tbody>
</table>


